node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.env
.git
.gitignore
.github
Dockerfile
docker-compose.yml
.eslintcache
.vscode
tests/
coverage/
jest.config.js
eslint.config.js
*.xlsx
*.docx
readme.md
